<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>DaBeat - Edit Song</title>


    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" />

    <style>
        body {
          background: url("/img/StockCake-Neon_Music_Waves_1761699058.jpg") center/cover no-repeat;
        }
        body::before {
          content: "";
          position: fixed;
          inset: 0;
          background: inherit;
          filter: blur(20px);
          z-index: -1;
        }
    </style>
  </head>

  <body style="background-color: black;" class="text-white">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-50">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">
          <h1><i class="bi bi-vinyl-fill"></i> DaBeat</h1>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDarkDropdown"
          aria-controls="navbarNavDarkDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav nav nav-underline me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home"><i class="bi bi-houses-fill"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard"
                ><i class="bi bi-music-player-fill"></i> Explore</a
              >
            </li>
          </ul>

          <hr class="d-lg-none text-white-50" />

          <ul class="navbar-nav ms-auto">
            <li              
                class="nav-link dropdown-toggle fs-5"
                href="#"
                id="navbarDarkDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-person-circle"></i> <%= user.username %>
              </a>

              <ul
                class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
                aria-labelledby="navbarDarkDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="/upload"><i class="bi bi-upload"></i> Upload</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/profile"
                    ><i class="bi bi-person-bounding-box"></i> Profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="bi bi-gear-fill"></i> Settings</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><h6 class="dropdown-header">Account actions</h6></li>
                <li>
                  <a class="dropdown-item" href="/logout"
                    ><i class="bi bi-door-closed"></i> Logout</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row bg-opacity-75 bg-dark d-flex align-items-top justify-content-center">
        <div class="col-md-6 mt-3">
          <div class="shadow-lg p-2 mb-4 bg-transparent rounded-3">
            <form action="/edit-song/<%= song._id %>" method="POST" enctype="multipart/form-data">
              <h2 class="text-center m-3">
                <i class="bi bi-pencil-square"></i><br />
                Edit your music
              </h2>

              <!-- Current Cover Preview -->
              <div class="mt-3 text-center">
                <p class="text-white-50">Current cover:</p>
                <img src="<%= song.coverImage %>" alt="Current cover" class="img-thumbnail mb-3" style="max-width: 200px; max-height: 200px;">
              </div>

              <div
                class="mt-3 rounded cover-picture d-flex flex-column align-items-center justify-content-center"
              >
                <i class="bi fs-1 bi-image-alt"></i>
                <p class="text-center">
                  Click here to upload a new cover (optional).<br />
                  (File should not exceed 50MB. JPG, JPEG, PNG, WEBP are supported.)
                </p>
                <input
                  class="file-uploader-img"
                  type="file"
                  id="coverImage"
                  name="coverImage"
                  onchange="changeCover()"
                  accept=".jpg,.jpeg,.png,.webp"
                />
              </div>

              <div class="form-floating mt-3">
                <input
                  name="title"
                  type="text"
                  class="form-control bg-transparent focus-ring bor-bot"
                  id="floatingInputGroup1"
                  placeholder=""
                  value="<%= song.title %>"
                  required
                />
                <label for="floatingInputGroup1">Title</label>
              </div>

              <div class="form-floating mt-3">
                <select
                  class="form-select bor-bot focus-ring bg-transparent genre-select"
                  id="floatingSelect"
                  aria-label="Floating label select example"
                  name="genre"
                >
                  <option value="any" <%= song.genre === 'any' ? 'selected' : '' %>>Any / Unknown</option>

                    <optgroup label="ðŸŽ¤ Pop & Mainstream">
                      <option value="pop" <%= song.genre === 'pop' ? 'selected' : '' %>>Pop</option>
                      <option value="indie-pop" <%= song.genre === 'indie-pop' ? 'selected' : '' %>>Indie Pop</option>
                      <option value="k-pop" <%= song.genre === 'k-pop' ? 'selected' : '' %>>K-Pop</option>
                      <option value="j-pop" <%= song.genre === 'j-pop' ? 'selected' : '' %>>J-Pop</option>
                      <option value="vocaloid" <%= song.genre === 'vocaloid' ? 'selected' : '' %>>Vocaloid</option>
                      <option value="dance-pop" <%= song.genre === 'dance-pop' ? 'selected' : '' %>>Dance Pop</option>
                      <option value="electropop" <%= song.genre === 'electropop' ? 'selected' : '' %>>Electropop</option>
                    </optgroup>

                    <optgroup label="ðŸŽ¸ Rock & Metal">
                      <option value="rock" <%= song.genre === 'rock' ? 'selected' : '' %>>Rock</option>
                      <option value="alternative" <%= song.genre === 'alternative' ? 'selected' : '' %>>Alternative</option>
                      <option value="indie-rock" <%= song.genre === 'indie-rock' ? 'selected' : '' %>>Indie Rock</option>
                      <option value="punk" <%= song.genre === 'punk' ? 'selected' : '' %>>Punk</option>
                      <option value="metal" <%= song.genre === 'metal' ? 'selected' : '' %>>Metal</option>
                      <option value="hard-rock" <%= song.genre === 'hard-rock' ? 'selected' : '' %>>Hard Rock</option>
                      <option value="grunge" <%= song.genre === 'grunge' ? 'selected' : '' %>>Grunge</option>
                    </optgroup>

                    <optgroup label="ðŸŽ§ Electronic & EDM">
                      <option value="electronic" <%= song.genre === 'electronic' ? 'selected' : '' %>>Electronic</option>
                      <option value="house" <%= song.genre === 'house' ? 'selected' : '' %>>House</option>
                      <option value="techno" <%= song.genre === 'techno' ? 'selected' : '' %>>Techno</option>
                      <option value="trance" <%= song.genre === 'trance' ? 'selected' : '' %>>Trance</option>
                      <option value="dubstep" <%= song.genre === 'dubstep' ? 'selected' : '' %>>Dubstep</option>
                      <option value="drum-and-bass" <%= song.genre === 'drum-and-bass' ? 'selected' : '' %>>Drum and Bass</option>
                      <option value="future-bass" <%= song.genre === 'future-bass' ? 'selected' : '' %>>Future Bass</option>
                      <option value="hardstyle" <%= song.genre === 'hardstyle' ? 'selected' : '' %>>Hardstyle</option>
                      <option value="edm" <%= song.genre === 'edm' ? 'selected' : '' %>>EDM</option>
                      <option value="synthwave" <%= song.genre === 'synthwave' ? 'selected' : '' %>>Synthwave</option>
                      <option value="lofi" <%= song.genre === 'lofi' ? 'selected' : '' %>>Lo-fi</option>
                      <option value="chillout" <%= song.genre === 'chillout' ? 'selected' : '' %>>Chillout</option>
                      <option value="ambient" <%= song.genre === 'ambient' ? 'selected' : '' %>>Ambient</option>
                    </optgroup>

                    <optgroup label="ðŸŽ¶ Hip-Hop & Urban">
                      <option value="hip-hop" <%= song.genre === 'hip-hop' ? 'selected' : '' %>>Hip-Hop</option>
                      <option value="rap" <%= song.genre === 'rap' ? 'selected' : '' %>>Rap</option>
                      <option value="trap" <%= song.genre === 'trap' ? 'selected' : '' %>>Trap</option>
                      <option value="rnb" <%= song.genre === 'rnb' ? 'selected' : '' %>>R&B</option>
                      <option value="soul" <%= song.genre === 'soul' ? 'selected' : '' %>>Soul</option>
                      <option value="funk" <%= song.genre === 'funk' ? 'selected' : '' %>>Funk</option>
                    </optgroup>

                    <optgroup label="ðŸŽ» Classical & Acoustic">
                      <option value="classical" <%= song.genre === 'classical' ? 'selected' : '' %>>Classical</option>
                      <option value="opera" <%= song.genre === 'opera' ? 'selected' : '' %>>Opera</option>
                      <option value="instrumental" <%= song.genre === 'instrumental' ? 'selected' : '' %>>Instrumental</option>
                      <option value="acoustic" <%= song.genre === 'acoustic' ? 'selected' : '' %>>Acoustic</option>
                      <option value="soundtrack" <%= song.genre === 'soundtrack' ? 'selected' : '' %>>Soundtrack</option>
                      <option value="experimental" <%= song.genre === 'experimental' ? 'selected' : '' %>>Experimental</option>
                    </optgroup>

                    <optgroup label="ðŸŒ World & Cultural">
                      <option value="reggae" <%= song.genre === 'reggae' ? 'selected' : '' %>>Reggae</option>
                      <option value="dancehall" <%= song.genre === 'dancehall' ? 'selected' : '' %>>Dancehall</option>
                      <option value="reggaeton" <%= song.genre === 'reggaeton' ? 'selected' : '' %>>Reggaeton</option>
                      <option value="afrobeat" <%= song.genre === 'afrobeat' ? 'selected' : '' %>>Afrobeat</option>
                      <option value="latin" <%= song.genre === 'latin' ? 'selected' : '' %>>Latin</option>
                      <option value="folk" <%= song.genre === 'folk' ? 'selected' : '' %>>Folk</option>
                      <option value="country" <%= song.genre === 'country' ? 'selected' : '' %>>Country</option>
                      <option value="world" <%= song.genre === 'world' ? 'selected' : '' %>>World</option>
                    </optgroup>

                    <optgroup label="ðŸŽº Jazz, Blues & Soul">
                      <option value="jazz" <%= song.genre === 'jazz' ? 'selected' : '' %>>Jazz</option>
                      <option value="blues" <%= song.genre === 'blues' ? 'selected' : '' %>>Blues</option>
                      <option value="gospel" <%= song.genre === 'gospel' ? 'selected' : '' %>>Gospel</option>
                    </optgroup>

                    <optgroup label="ðŸ•º Retro & Others">
                      <option value="disco" <%= song.genre === 'disco' ? 'selected' : '' %>>Disco</option>
                      <option value="ska" <%= song.genre === 'ska' ? 'selected' : '' %>>Ska</option>
                    </optgroup>
                </select>
                <label for="floatingSelect">Genre</label>
              </div>

              <div class="form-floating mt-3">
                <textarea
                  name="description"
                  class="form-control focus-ring bg-transparent"
                  id="floatingTextarea2"
                  style="height: 200px; resize: none"
                  maxlength="1000"
                  placeholder=""
                ><%= song.description || '' %></textarea>
                <label for="floatingTextarea2" class="desc-label">Description (optional)</label>
              </div>
              <p class="text-white-50 mt-1 lh-sm" style="font-size: 14px;">State your behind the scenes, inspirations, or links to promote yourself or others. Whatever catches the listeners' eyes.<br>Max limit is 1000 characters.</p>

              <div class="p-3 text-info border border-info rounded mt-3">
                <i class="bi bi-info-circle me-3"></i> <strong>Note:</strong> For a number of reasons, audio cannot be edited.
                <br><audio controls class="mt-3">
                <source src="<%= song.audioFile %>">
                Your browser does not support the audio element.
                </audio>
              </div>

              <div class="form-floating mt-3">
                <textarea
                  name="tags"
                  class="form-control focus-ring bg-transparent tagsInput"
                  id="floatingTextarea3"
                  style="height: 100px; resize: none"
                  maxlength="300"
                  placeholder=""
                ><%= song.tags ? song.tags.join(' ') : '' %></textarea>
                <label for="floatingTextarea3" class="desc-label">Tags (optional, but recommended)<br></label>
              </div>
              <p class="text-white-50 mt-1 lh-sm" style="font-size: 14px;">Add keywords to make your song easier to be searched up. Remember to separate them with spaces. Max limit is 300 characters.<br><span id="tagsInputCheck">There are currently no tags. Choose words that best describe your track!</span></p>

              <div class="d-flex gap-2">
                <button type="submit" class="my-3 btn btn-outline-primary w-50">
                  <i class="bi bi-check-circle me-3"></i> Save Changes
                </button>
                <button class="my-3 btn btn-outline-warning w-50" onclick="confirmCancel(event, '<%= song._id %>')">
                  <i class="bi bi-x-circle me-3"></i> Discard
                </button>
              </div>
                <button class="btn w-100 btn-danger" onclick="deleteSong(event, '<%= song._id %>')">
                  <i class="bi bi-trash-fill me-3"></i> Delete
                </button>              
              <% if (error) { %>
                  <div class="toast errorToast w-100 align-items-center text-bg-danger bg-opacity-10 border-0" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="d-flex">
                      <div class="toast-body fs-6">
                            <i class="bi bi-exclamation-triangle" style="padding-right: 20px;"></i> <%= error %>
                      </div>
                      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                  <div class="toast-progress bg-light" style="height: 1px; width: 100%; opacity: 0.2;"></div>
                  </div>
                <% } %>
            </form>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav>
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">About us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Credits</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <hr class="text-white-50 mt-1 mb-2" />

        <div class="row">
          <div class="col-md-12 text-center pb-3">
            <p class="mb-0">Â© 2025 DaBeat. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
<div class="modal fade" id="alertModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-black bg-opacity-50 border border-danger">
          <div class="modal-header border border-danger">
            <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel"><i class="bi bi-exclamation-triangle me-3"></i> Alert</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>

        </div>
      </div>
  </div>
  <div class="modal fade" id="confirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-black bg-opacity-50 border border-warning">
          <div class="modal-header border border-warning">
            <h1 class="modal-title fs-5 text-warning" id="exampleModalLabel"><i class="bi bi-exclamation-triangle me-3"></i> Warning</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>

        </div>
      </div>
  </div>
    <script src="/js/scripts.js"></script>
    <script src="/js/upload_scripts.js"></script>
    <script>
        function deleteSong(event, songId) {
            event.preventDefault();
            const modal = new bootstrap.Modal(document.querySelector('#alertModal'));
            const modalBody = document.querySelector('#alertModal .modal-body');
            modal.show();
            modalBody.innerHTML = "Are you sure you want to delete this song? This action cannot be undone.<br><br>" +
            `<form action="/delete-song/${songId}" method="POST" style="display: inline;">` +
            `<button type="submit" onclick="disableButton(this)"  class="btn btn-danger">Delete</button>` +
            `</form>` +
            ` <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>`;
        }
        function confirmCancel(event, songId){
            event.preventDefault();
            const modal = new bootstrap.Modal(document.querySelector('#confirmModal'));
            const modalBody = document.querySelector('#confirmModal .modal-body');
            modal.show();
            modalBody.innerHTML = "Are you sure you want to discard editing? Unsaved changes will be lost.<br><br>" +
            `<form action="/song/${songId}" method="GET" style="display: inline;">` +
            `<button type="submit" onclick="disableButton(this)"  class="btn btn-warning">Discard</button>` +
            `</form>` +
            ` <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>`;          
        }
    </script>

  </body>
</html>